.ic-image-16 {
  width: 16px;
  height: 16px;
}

.ic-image-24 {
  width: 24px;
  height: 24px;
}

.ic-image-30 {
  width: 30px;
  height: 30px;
}

.ic-image-32 {
  width: 32px;
  height: 32px;
}

.ic-image-40 {
  width: 40px;
  height: 40px;
}

.ic-image-280 {
  width: 280px;
  height: 280px;
  border-radius: 10px;
}