body {
  font-family: "Nanum Gothic", sans-serif;
}

.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.main-header-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  border-bottom: 1px solid #eaeaea;
  padding: 1vh 4vw;
}

.main-header-search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 999px;
  padding: 2% 3%;
  border: 1px solid #eaeaea;
  max-width: 335px;
}

.col-divider {
  height: 100%;
  border: 1px solid #eaeaea;
}

.main-header-profile {
  display: flex;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: center;
}

.profile-icons {
  display: flex;
  border: 1px solid #eaeaea;
  border-radius: 999px;
  padding: 4px 10px;
}

.main-header-filter {
  display: flex;
  padding: 2vh 4vw;
  align-items: center;
  justify-items: center;
}

.main-filter-slider {
  display: flex;
  flex: 1;
  align-items: center;
}

#header-slider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

#header-slider > :nth-child(1) {
  justify-self: center;
}

.main-filter-button {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px;
  margin-left: 10px;
}

#main-body {
  height: 100vh;
}

#main-footer {
  position: fixed;
  padding: 1vh 4vw;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.main-footer-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.main-footer-info-left {
  padding: 1vw 0;
}

.main-footer-info-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.main-footer-info-right > :nth-child(2) {
  display: flex;
  justify-content: center;
}
